.sidenav {
  height: 100vh;
  width: 250 px;
  float:left;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
}
.sidenav button {
	padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.oneoption{
	float:left;
	width:calc(100% - 300px);
}

.oneoptionlekar{
	float:left;
	width:calc(100% - 230px);
}
.oneoptionsestra{
	float:left;
	width:calc(100% - 270px);
}

.sidenavlogin{
	margin:0 auto!important;
}