@charset "ISO-8859-1";
#modaldark{
	display:none;
	position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        z-index: 99;
        opacity:0;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
}

.form-popup {
  background-color:#7ac3ff;
  display: none;
  position: absolute;
  top: 30%;
  left:40%;
  width:20%;
  z-index: 100;
  border:2px solid #ccc;
  border-radius:3px;
  padding:10px 5px;
}

.leftbutton{
	float:left;
	background-color:#28A745;
	color:white;
}

.rightbutton{
	float:right;
	background-color:#D73141;
	color:white;
}

.psw{
	width:100%;
	border:1px solid #ccc;
	border-radius:4px;
	margin-bottom:10px;
}

select{
	width:100%;
}