@charset "ISO-8859-1";

#dostupniLekari{
	display:none;
	margin:0 5%;
	position:relative;
		margin-top:10px;
		margin-left: auto;
		margin-right: auto;
		width: 45%;
		height:90vh;
		background-color:#ccffff;
		overflow:hidden;
		padding:10px;
		border-radius:10px;
}

#dostupniLekari label{
	font: 20px Arial;
}

#dostupniLekari input{
	align-content: center;
}

.btn-operacija-add{
	background-color: #33ff33;
	border: 1px solid black;
	color: white
}

.btn-operacija-del{
	background-color: #ff1a1a;
	border: 1px solid black;
	color: white
}

#dost-lekari-table{
	margin-left:auto; 
  	margin-right:auto;
  	max-width: 60%;
}

#odl-oper-el{
	display:none;
	margin:0 5%;
	position:relative;
		margin-top:10px;
		margin-left: auto;
		margin-right: auto;
		width: 60%;
		height:50vh;
		background-color:#66ff66;
		overflow:hidden;
		padding:20px;
		border-radius:10px;
}

.btn-oper-odl{
	background-color: #ff9933;
	border: 1px solid black;
	color: white;
}

.btn-oper-otk{
	background-color: #b3cccc;
	border: 1px solid black;
	color: white;
}