@charset "ISO-8859-1";
#zapocniP{
	display:none;
	margin:0 5%;
	position:relative;
		margin-top:10px;
		width: 90%;
		height:90vh;
		background-color:#f1f1f1;
		overflow:hidden;
		padding:10px;
		border-radius:10px;
}

#poruka{
	margin:0 auto;
		margin-top:100px;
		width: 30%;
		background-color:#f1f1f1;
		overflow:hidden;
		padding:10px;
		border-radius:10px;
}

#myForm2{
	display:none;
}
#myForm3{
	display:none;
}
#myForm4{
	display:none;
}
#btns{
	position:absolute;
	bottom:0;
	right:0;
}

#btns input{
	float:right;
	margin:0 5px;
	margin-bottom:5px;
}

.zapocni-input{
	position:relative;
	margin-left:5%; 
  	margin-right:auto;
  	max-width: 60%;
  	float: left;
}

.zapocni-input label{
	text-align: right;
	display: block;
}

.dijagnoze-sifre{
	background-color:  #b3ecff;
	max-width: 18%;
	float: left;
	position: relative;
	margin-left: 1%;
}

.dijagnoze-sifre td{
	padding: 10px;
}

.lekovi-sifre{
	background-color:  #b3ecff;
	max-width: 18%;
	position: relative;
	margin-right: 5%;
	float: right;
}

.btn-sifra-lek-add{
	background-color: #809fff;
	border: 1px solid black;
	color: white;
}

.btn-recept-overa{
	background-color: #33ffad;
	border: 1px solid black;
	color: white;
	width: 100%;
	text-align: center;
}